.contents {
  position: relative; }
  .contents .cont_scene {
    width: 100%;
    height: 100%; }
  .contents .cont_canvas {
    position: relative;
    top: 0;
    left: 0;
    overflow: auto; }
  .contents .cont_buttons {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%; }
  .contents .cont_results {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
    .contents .cont_results-messageBox {
      padding: 1em;
      text-align: right; }
    .contents .cont_results-total_file_count strong {
      font-size: 500%; }
    .contents .cont_results-spentTime span {
      font-weight: bold; }
    .contents .cont_results-rows {
      overflow: auto;
      height: 240px;
      width: 300px; }
    .contents .cont_results-summaries {
      height: 100px;
      width: 300px;
      overflow: auto; }
    .contents .cont_results-errorMessage {
      display: none;
      color: #f00;
      font-weight: bold; }
    .contents .cont_results-error {
      background: #fff6f6; }
      .contents .cont_results-error .cont_results-errorMessage {
        display: block; }
