[submodule "submodules/broccoli-field-table"]
	path = submodules/broccoli-field-table
	url = https://github.com/broccoli-html-editor/broccoli-field-table.git
[submodule "submodules/node-px2dt-localdata-access"]
	path = submodules/node-px2dt-localdata-access
	url = https://github.com/pickles2/node-px2dt-localdata-access.git
[submodule "submodules/node-express-pickles2"]
	path = submodules/node-express-pickles2
	url = https://github.com/tomk79/node-express-pickles2.git
[submodule "submodules/node-pickles2-contents-editor"]
	path = submodules/node-pickles2-contents-editor
	url = https://github.com/pickles2/node-pickles2-contents-editor.git
[submodule "submodules/px2style"]
	path = submodules/px2style
	url = https://github.com/pickles2/px2style.git
[submodule "submodules/node-px2agent"]
	path = submodules/node-px2agent
	url = https://github.com/pickles2/node-px2agent.git
[submodule "submodules/node-broccoli-processor"]
	path = submodules/node-broccoli-processor
	url = https://github.com/broccoli-html-editor/node-broccoli-processor.git
[submodule "submodules/node-pickles2-module-editor"]
	path = submodules/node-pickles2-module-editor
	url = https://github.com/pickles2/node-pickles2-module-editor.git
[submodule "submodules/node-utils79"]
	path = submodules/node-utils79
	url = https://github.com/tomk79/node-utils79.git
[submodule "submodules/node-broccoli-styleguide-generator"]
	path = submodules/node-broccoli-styleguide-generator
	url = https://github.com/broccoli-html-editor/node-broccoli-styleguide-generator.git
[submodule "submodules/node-cmd-queue"]
	path = submodules/node-cmd-queue
	url = https://github.com/tomk79/node-cmd-queue.git
[submodule "submodules/node-px2dt-health-check"]
	path = submodules/node-px2dt-health-check
	url = https://github.com/tomk79/node-px2dt-health-check.git
[submodule "submodules/node-git-parser"]
	path = submodules/node-git-parser
	url = https://github.com/tomk79/node-git-parser.git
[submodule "submodules/node-remote-finder"]
	path = submodules/node-remote-finder
	url = https://github.com/tomk79/node-remote-finder.git
[submodule "submodules/ace-builds"]
	path = submodules/ace-builds
	url = https://github.com/ajaxorg/ace-builds.git
