@charset "utf-8";
body{
	/* http://www.softel.co.jp/blogs/tech/archives/2909 */
	user-select: none; /* CSS3 */
	-moz-user-select: none; /* Firefox */
	-webkit-user-select: none; /* Safari、Chromeなど */
	-ms-user-select: none; /* IE10かららしい */
}
*{
	outline: none;
}
header.theme_header{
	background-color: #eee;
	padding: 0; margin:0;
	position:fixed;
	top:0; left:0;
	width:100%;
	min-height:50px;
	z-index:100;
	box-shadow: 0 5px 13px rgba(0, 0, 0, 0.1);
	background: linear-gradient(#000, #090909);
	color: #eee;
}
header.theme_header a{
	color: #fff;
	text-decoration: underline;
}
header.theme_header a:hover{
	color: #eee;
	text-decoration: none;
}
header.theme_header .theme_header-inner{
	padding: 10px 0px 0 0px;
}

.theme_px2logo{
	position: fixed;
	left: 0; top: 0;
	width: 50px; height: 50px;
	padding: 5px;
	box-sizing: border-box;
}
.theme_px2logo img{
	width: 100%; height: 100%;
}
.theme_id{
	width:auto;
	margin:0 55px;
	float:left;
}
.theme_id *{
	margin:0 0.5em;
	display: inline-block;
	font-weight: bold;
}

.theme_gmenu{
	float: right;
	padding: 0 0.5em;
	margin: 0 55px 0 55px;
}
.theme_gmenu ul{
	display:block;
	margin:0; padding:0;
}
.theme_gmenu ul li{
	display:inline-block;
	margin:1px 1px 0 1px; padding:0;
	list-style-type: none;
}
.theme_gmenu ul li a{
	display:block;
	margin:0;
	padding:0.6em 1em 0.3em;
	background-color: #ddd;
	color: #000;
	font-weight: normal;
	text-decoration: none;
}
.theme_gmenu ul li a:hover{
	background-color: #666;
	color:#f7f7f7;
}
.theme_gmenu ul li a.current{
	font-weight: bold;
	text-decoration: underline;
	background-color: #666;
	color:#f7f7f7;
}

.theme_shoulder_menu{
	position: fixed; top: 0; right: 0;
	padding: 0; margin: 0;
	overflow: hidden;
}
.theme_shoulder_menu button{
	background: #333;
	border: none;
	border-left: 1px solid #999;
	position: absolute; top:0; right:0;
	height: 50px;
	width: 50px;
	box-sizing: border-box;
}
.theme_shoulder_menu ul{
	position: absolute;
	top: 50px; right: 0;
	display: none;
	margin: 0; padding: 0;
	list-style-type: none;
	background-color: #333;
	border: 1px solid #aaa;
	overflow: auto;
	width:280px;
	max-width:100%;
	opacity: 0.95;
}
.theme_shoulder_menu ul li{
	margin: 0 0 1px 0;
	border-bottom: 1px solid #555;
}
.theme_shoulder_menu ul li:last-child{
	border: none;
}
.theme_shoulder_menu ul li a{
	display:block;
	font-weight: normal;
	padding: 0.8em 2em;
	background-color: #333;
	text-decoration: none;
}
.theme_shoulder_menu ul li a:hover{
	background-color: #444;
}
.theme_shoulder_menu ul li a.current{
	font-weight: bold;
}

.contents{
	position:fixed;
	top: 0; left: 0;
	width:100%;
	height:15px;
	overflow: auto;
	z-index:50;
}
.contents iframe{
	width:100%;
	height:100%;
	border:none;
	margin:0;
	padding:0;
}

.cont_top_jumbotron{
	background: linear-gradient(#bbb, #999);
	color: #fff;
	padding: 3em 0.5em;
}

.cont_top_footer{
	text-align: center;
	padding: 5px;
	border-top: 1px solid #999;
	background: linear-gradient(#ccc, #ddd);
	color: #666;
}
.cont_top_footer a{
	color: #333;
	text-decoration: underline;
}