* {
  outline: none; }

.splash {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 14px;
  text-align: center;
  color: #999;
  padding-top: 3rem; }
  .splash__px2logo {
    width: 80%;
    max-width: 140px;
    margin: 2em auto; }
    .splash__px2logo img {
      width: 100%; }

.installer-mode {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 11px;
  text-align: center;
  color: #999;
  padding-top: 3rem; }
  .installer-mode__px2logo {
    width: 80%;
    max-width: 140px;
    margin: 2em auto; }
    .installer-mode__px2logo img {
      width: 100%; }
  .installer-mode__appname {
    font-size: 1.8em;
    font-weight: bold; }

/**
 * px.watcher
 */
.theme_ui_px_live_report {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 10000;
  padding: 3px 10px;
  background-color: #eee;
  font-size: 11px;
  pointer-events: none;
  transition: transform 0.5s ease-out 0.2s, opacity 0.5s ease-out 0.2s; }
  .theme_ui_px_live_report--hidden {
    transform: translateY(20px);
    opacity: 0; }

/**
 * status bar
 */
.theme-statusbar {
  position: fixed;
  bottom: 0px;
  width: 100%;
  z-index: 10000;
  background-color: #f9f9f9;
  border-top: 1px solid #aaa;
  display: flex; }
  .theme-statusbar__left, .theme-statusbar__right {
    display: flex;
    flex-grow: 1; }
    .theme-statusbar__left div, .theme-statusbar__right div {
      padding: 2px 5px;
      margin: 1px 2px;
      font-size: 11px; }
  .theme-statusbar__left {
    justify-content: flex-start; }
  .theme-statusbar__right {
    justify-content: flex-end; }

.contents {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 150px;
  overflow: auto;
  z-index: 50; }
  .contents iframe {
    display: block;
    width: 100%;
    max-height: 100%;
    border: none;
    margin: 0;
    padding: 0; }

.cont_top_jumbotron {
  background-color: #f6f6f6;
  background-image: url("./images/main.png");
  background-position: center center;
  background-size: cover;
  color: #00a0e6;
  padding: 3em 0.5em; }

.cont_top_footer {
  text-align: center;
  padding: 5px;
  border-top: 1px solid #999;
  background-color: #f6f6f6;
  color: #666; }
  .cont_top_footer a {
    color: #333;
    text-decoration: underline; }
  .px2-darkmode .cont_top_footer {
    border-top-color: #444;
    background-color: #090909;
    color: #999; }
    .px2-darkmode .cont_top_footer a {
      color: #ccc; }

.cont_project-list-filter {
  position: relative; }
  .cont_project-list-filter button.cont_project-list-filter__clear {
    position: absolute;
    right: 5px;
    top: calc(50% - 0.7em);
    background-color: #eee;
    color: #666;
    border-radius: 50%;
    border: none;
    font-size: 10px; }
    .cont_project-list-filter button.cont_project-list-filter__clear:active {
      background-color: #e3e3e3;
      color: #333; }

.theme-command-terminal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9000;
  height: 100%;
  width: 100%;
  display: none;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5); }
  .theme-command-terminal__main {
    position: fixed;
    display: flex;
    flex-direction: column;
    bottom: -70%;
    left: 0;
    height: 70%;
    width: 100%;
    overflow: hidden;
    transition: bottom 0.3s ease-out 0s;
    background-color: #fefefe; }
  .theme-command-terminal__title-bar {
    padding: 4px 1em;
    border-top: 1px solid #f0f0f0; }
  .theme-command-terminal__cQ {
    position: relative;
    flex-grow: 1;
    width: 100%; }

.px2-darkmode {
  /**
 * status bar
 */ }
  .px2-darkmode .theme-statusbar {
    background-color: #060606;
    border-top-color: #444; }
