@charset "utf-8";
body{
}
*{
	outline: none;
}

.splash{
	position: absolute;
	top: 0; left: 0;
	width: 100%; height: 100%;
	font-size: 14px;
	text-align: center;
	color: #999;
	padding-top: 3rem;
	&__px2logo{
		width: 80%;
		max-width: 140px;
		margin: 2em auto;
		img{
			width: 100%;
		}
	}
}
.installer-mode{
	position: absolute;
	top: 0; left: 0;
	width: 100%; height: 100%;
	font-size: 11px;
	text-align: center;
	color: #999;
	padding-top: 3rem;
	&__px2logo{
		width: 80%;
		max-width: 140px;
		margin: 2em auto;
		img{
			width: 100%;
		}
	}
	&__appname{
		font-size: 1.8em;
		font-weight: bold;
	}
}


/**
 * px.message()
 */
.theme_ui_px_message{
	position: fixed;
	top: 120px;
	left: 15%;
	right: 15%;
	height: auto;
	width: auto;
	z-index: 20000;
}
@media all and (max-width: 820px){
	.theme_ui_px_message{
		left: 5%;
		right: 5%;
	}
}

/**
 * px.watcher
 */
.theme_ui_px_live_report{
	position: absolute;
	left: 0; bottom: 0;
	z-index: 10000;
	padding: 3px 10px;
	background-color: #eee;
	font-size: 11px;
	pointer-events: none;
	transition:
		transform 0.5s ease-out 0.2s,
		opacity 0.5s ease-out 0.2s
	;
	&--hidden{
		transform: translateY(20px);
		opacity: 0;
	}
}

/**
 * status bar
 */
.theme-statusbar{
	position: fixed;
	bottom: 0px;
	width: 100%;
	z-index: 10000;
	background-color: #f9f9f9;
	border-top: 1px solid #aaa;
	display: flex;
	&__left,
	&__right{
		display: flex;
		flex-grow: 1;
		div{
			padding: 2px 5px;
			margin: 1px 2px;
			font-size: 11px;
		}
	}
	&__left{
		justify-content: flex-start;
	}
	&__right{
		justify-content: flex-end;
	}
}

// Contents
.contents{
	position:fixed;
	top: 0; left: 0;
	width:100%;
	min-height:150px;
	overflow: auto;
	z-index:50;

	iframe{
		display: block;
		width:100%;
		max-height:100%;
		border:none;
		margin:0;
		padding:0;
	}
}

// Jumbotron
.cont_top_jumbotron{
	background-color: #f6f6f6;
	background-image: url('./images/main.png');
	background-position: center center;
	background-size: cover;
	color: #00a0e6;
	padding: 3em 0.5em;
}

// Footer
.cont_top_footer{
	text-align: center;
	padding: 5px;
	border-top: 1px solid #999;
	background-color: #f6f6f6;
	color: #666;
	a{
		color: #333;
		text-decoration: underline;
	}
}

// CmdQueue Terminal
@import "./style.css.ignore/_commandQueue.css.scss";
