.theme-command-terminal{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9000;
	height: 100%;
	width: 100%;
	display:none;
	overflow:  hidden;
	background-color: rgba(0, 0, 0, 0.5);

	&__main{
		position: fixed;
		display: flex;
		flex-direction: column;
		bottom: -70%;
		left: 0;
		height: 70%;
		width: 100%;
		overflow:  hidden;
		transition: bottom 0.3s ease-out 0s;
		background-color: #fefefe;
	}
	&__title-bar{
		padding: 4px 1em;
		border-top: 1px solid #f0f0f0;
	}
	&__cQ{
		position: relative;
		flex-grow: 1;
		width: 100%;
	}
}
