@charset "utf-8";

html,
body {
  font-size: medium;
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}
body{
	background-color: #fefefe;
	color: #333;
}
body,
input,
textarea,
button,
h1, h2, h3, h4, h5, h6 {
	font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}

textarea,
input,
code,
pre,
.selectable{ // 選択可能領域
	user-select: text;
}
*:focus{
	outline: none;
}
img, svg{
	max-width:100%;
}
a{
	color: #000;
	text-decoration: underline;
}
a:hover{
	color: #666;
}
.contents{
	.input-group-btn{
		.px2-btn{
			font-size: 12px;
			width: 100%;
		}
	}
	.input-group-btn-lg{
		.px2-btn{
			font-size: 16px;
			width: 100%;
		}
	}
}

/**
 * スクロールバー
 */
::-webkit-scrollbar{
	/* 1 */
	background-color: #f3f3f3;
	/*width: 8px;*/
	/*height: 8px;*/
}
::-webkit-scrollbar-button{
	/* 2 */
}
::-webkit-scrollbar-track{
	/* 3 */
}
::-webkit-scrollbar-track-piece{
	/* 4 */
}
::-webkit-scrollbar-thumb{
	/* 5 */
	background-color: #ccc;
	border:1px solid #fff;
	border-radius: 4px;
}
::-webkit-scrollbar-corner{
	/* 6 */
}
::-webkit-resizer{
	/* 7 */
}


/**
 * テーマ
 */
.theme-h1-container {
	box-sizing: border-box;
	box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.1);
	background-color: #fff;
	position: relative;
	z-index: 901;

	&__heading {
		max-width: 1170px;
		width: calc(100% - 57px - 57px);
		box-sizing: border-box;
		margin: 0 auto;
		padding: 1em 0 0.5em;
		h1{
			margin: 0;
			padding: 0;
			font-size: 28px;
			font-weight: normal;
		}
		@media all and (max-width: calc(1170px + 57px + 57px)) {
			width: calc(100% - 57px - 15px);
			margin: 0 auto 0 57px;
		}
		@media all and (max-width: 768px) {
			width: calc(100% - 15px - 15px);
			margin: 0 auto;
			h1{
				font-size: 24px;
			}
		}
	}
}
.theme-main-container {
	box-sizing: border-box;
	border-top: 1px solid #eee;
	padding-top: 15px;
	position: relative;
	z-index: 900;

	.contents {
		max-width: 1170px;
		width: calc(100% - 57px - 57px);
		margin: 0 auto;

		@media all and (max-width: calc(1170px + 57px + 57px)) {
			width: calc(100% - 57px - 15px);
			margin: 0 auto 0 57px;
		}
		@media all and (max-width: 768px) {
			width: calc(100% - 15px - 15px);
			margin: 0 auto;
		}
	}
}

/**
 * コンテンツ領域をウィンドウにフィットさせる
 */
body.theme-content-fit-to-window {
	display: flex;
	flex-direction: column;

	.theme-h1-container {
		flex-grow: 0;
		&__heading {
			max-width: 100% !important;
			width: calc(100% - 30px);
			margin: 0 auto !important;
		}
	}
	.theme-main-container {
		flex-grow: 2;
		display: flex;
		flex-direction: column;
		overflow: hidden;

		max-width: 100% !important;
		width: 100%;
		margin: 0 auto !important;
		padding-top: 0;

		.contents {
			max-width: 100% !important;
			width: 100%;
			margin: 0 auto !important;

			flex-grow: 2;
			overflow: auto;

			display: flex;
			flex-direction: column;
			> * {
				flex-grow: 1;
			}
		}
	}
}

/**
 * 見出しエリアを非表示にする
 */
body.theme-hide-h1-container {
	.theme-h1-container {
		display: none;
	}
}


/**
 * ダイアログボックス
 */
.dialog_box{
	background-color:#fff;
	padding: 15px;
	border:1px solid #ddd;
	border-radius: 5px;
	box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.2);
}

/**
 * フォーム要素
 */
.form_elements input{
	max-width:100%;
}

/**
 * コード
 */
.contents pre{
	background: #fafafa;
	border: 1px solid #f0f0f0;
}
.contents pre code{
	border: none;
	background-color: transparent;
	padding: 0;
	margin: 0;
}
.contents code{
	border: 0px none;
}

/**
 * リストビュー
 */
ul.listview{
	border: 1px solid #999;
	border-radius: 5px;
	padding: 0;
	overflow:hidden;
	box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1);

	li{
		border-bottom: 1px solid #999;
		list-style-type: none;
		margin:0; padding: 0;
		&:last-child{
			border: none;
		}
		>a{
			display: block;
			text-decoration: none;
			padding: 0.3em 1.5em;
			background-color: #fefefe;
			&:hover{
				background-color: #f9f9f9;
			}
			&.current{
				font-weight: bold;
				background-color: #00a0e6;
				color: #fff;
			}
		}

		ul{
			padding: 0;
			margin: 0;
			border-top: 1px dotted #ddd;
			li{
				border-bottom: 1px dotted #ddd;
				>a{
					padding-left: 2.5em;
				}
			}
		}
	}
}

/**
 * .clearfix
 */
.clearfix {
	display: block;
	float: none;
	clear: both;
}
.clearfix:after {
	content: " ";
	display: block;
	visibility: hidden;
	height: 0.1px;
	font-size: 0.1em;
	line-height: 0;
	clear: both;
}
.clearfix {
	/* clearfix(for IE6,7) (IE8以降不要) */
	zoom: 1;
}


/**
 * 必須項目
 */
.must {
	color: #f00;
	font-weight: bold;
	display: inline;
	white-space: nowrap;
	margin-left: 0.5em;
	margin-right: 0.5em;

    border: 1px solid #f63;
    background-color: #fdd;
    padding: 0.2em 0.8em;
    font-size: 90%;
    border-radius: 1.2em; 
}

/**
 * プレビューウィンドウ
 * ※JSとセットです。
 */
.preview_window_frame{
	border-style: solid;
	border-width: 63px 17px 18px 62px;
	border-image:         url("../images/windowframe.png") 63 17 18 62 repeat stretch;
	-moz-border-image:    url("../images/windowframe.png") 63 17 18 62 repeat stretch;
	-webkit-border-image: url("../images/windowframe.png") 63 17 18 62 repeat stretch;
	-o-border-image:      url("../images/windowframe.png") 63 17 18 62 repeat stretch;
	-ms-border-image:     url("../images/windowframe.png") 63 17 18 62 repeat stretch;
	box-sizing: border-box;
	position: relative; left: 0; top: 0;
	height: 300px;
}
.preview_window_frame--inner{
	/*padding: -13px -2px -13px -57px;*/
	margin: 0;
	/*width: 100%; height: 100%;*/
	display: block;
	position: absolute;
	top:-13px; right:-12px; bottom:-13px; left:-57px;
	border: none;
	box-sizing: border-box;
}
.preview_window_frame--inner > iframe{
	width: 100%; height: 100%;
	border: none;
	box-sizing: border-box;
}

/**
 * Bootstrap3: btn
 */
.contents .dropdown-menu{}
.contents .dropdown-menu li{
	list-style-type: inherit;
}
.contents .btn-group button{
	margin: inherit;
}
.btn-default {
	color: #333 !important;
}
.btn-primary ,
.btn-success ,
.btn-info ,
.btn-warning ,
.btn-danger {
	color: #fff !important;
}

/**
 * Bootstrap3 Tooltip
 */
.tooltip[role=tooltip]{
	word-wrap: break-word;
}

/**
 * Darkmode
 */
@import "./_css/_darkmode";
