@charset "utf-8";
@import "./fess.css";

body{
	background-color: #f9f9f9;
}
.dialog_box{
	background-color:#fff;
	padding: 15px;
	border:1px solid #ddd;
	border-radius: 15px;
	box-shadow: 10px 10px 10px rgba(0,0,0,0.4);
}