@charset "utf-8";

.cont_list{
    margin: 1em 0;
    padding: 0;
}
.cont_list>li{
    list-style-type: none !important;
    margin: 2px 0;
    padding: 0;
}
.cont_list>li>a,
.cont_list>li>label{
    display: block;
    margin: 0;
    padding: 10px 20px;
    border: 1px solid #eee;
    border-radius: 3px;
    background-color: #fbfbfb;
}
.cont_list>li>a:hover,
.cont_list>li>label:hover{
    background-color: #f0f0f0;
}
