.contents button.px2-btn {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.contents .cont-theme-list__unit {
  display: flex; }
  .contents .cont-theme-list__unit-thumb {
    width: 60px;
    max-width: 100%;
    margin-right: 20px; }
    .contents .cont-theme-list__unit-thumb img {
      width: 60px;
      height: 60px; }

.contents .cont-layout-menu {
  border: none;
  display: block; }
  .contents .cont-layout-menu li {
    display: inline-block;
    border: none;
    padding: 1px 2px; }
    .contents .cont-layout-menu li button {
      font-size: small;
      padding: 0.2em 1em; }

.contents .cont-theme-home-readme__thumb {
  float: left;
  margin: 0 20px 20px 0;
  width: 220px;
  max-width: 100%; }
  .contents .cont-theme-home-readme__thumb img {
    width: 100%; }
  @media all and (max-width: 580px) {
    .contents .cont-theme-home-readme__thumb {
      width: 100px; } }

.contents .cont-theme-home-readme__readme {
  margin-left: 240px; }
  @media all and (max-width: 580px) {
    .contents .cont-theme-home-readme__readme {
      margin-left: 120px; } }

.contents .cont-theme-home-readme:after {
  content: " ";
  display: block;
  clear: both; }

.contents .cont-theme-home-set-default {
  border: 1px solid #ffeeba;
  background-color: #fff3cd;
  color: #856404;
  padding: 1rem;
  text-align: center;
  border-radius: 5px;
  width: 80%;
  margin: 1em auto; }
  .contents .cont-theme-home-set-default--is-default {
    border: 1px solid #c3e6cb;
    background-color: #d4edda;
    color: #155724; }
  .contents .cont-theme-home-set-default p {
    margin: 0; }

.contents .cont-footer-menu > div {
  text-align: center;
  margin: 2em 0;
  display: flex;
  justify-content: space-between;
  align-content: center; }

@media all and (max-width: 680px) {
  .contents .cont-footer-menu > div {
    display: block;
    margin: 0; }
    .contents .cont-footer-menu > div > div {
      margin: 2em 0; } }
