@charset "utf-8";

ul.cont_pagelist{
	padding: 0;
}
ul.cont_pagelist li{
	list-style-type: none;
	margin:0 0 1px 0;
	padding:0;
}
ul.cont_pagelist li a{
	display: block;
	padding: 1em 2em;
	border: 1px solid #ddd;
	background-color: #f9f9f9;
	border-radius:1em;
}
ul.cont_pagelist li a:hover{
	background-color: #f2f2f2;
}
