@charset "utf-8";

.cont_workspace_container{
	overflow: auto;
}

.cont_page_info{
	border: 1px solid #000;
	padding: 10px;
	margin: 0 5px 10px 5px;
	background: #f9f9f9;
	min-height: 2em;
}
.cont_page_info-prop{
	float:left;
}
.cont_page_info-btn{
	float:right;
}

/**
 * サイトマップの編集者コメント欄
 */
.cont_page_info-editor_comment{
	border: 1px solid #999;
	border-radius: 3px;
	margin: 3px 0;
	clear: both;
	padding: 3px 1em;
	font-size: small;
	overflow: auto;
	max-height: 5em;
	width: 100%;
}
.cont_page_info-editor_comment dl,
.cont_page_info-editor_comment ul,
.cont_page_info-editor_comment ol,
.cont_page_info-editor_comment p{
	margin: 0.3em 0;
}
