html, body {
  margin: 0;
  border: 0;
  height: 100%;
  width: 100%; }

body {
  display: flex;
  flex-direction: column; }
  body > .contatiner {
    flex-shrink: 0; }
  body > .contents {
    display: flex;
    flex-direction: column; }
    body > .contents > .container {
      display: flex;
      flex-direction: column; }
      body > .contents > .container > #cont_finder {
        overflow: auto; }
