@charset "utf-8";

body{
	overflow: hidden;
}

.cont_editorframe{
	width:100%;
	display:table-row;
}
.cont_editorframe-preview{
	width:100%;
	display:table-cell;
	overflow:auto;
}
.cont_editorframe-ctrlpanel{
	    width:260px;
	max-width:260px;
	min-width:260px;
	display:table-cell;
	overflow:auto;
	vertical-align: top;
}

.cont_field{
	position: relative;
	top:0; left:0;
	overflow:auto;
}
.cont_field .cont_field-preview{
	position:relative; top:0; left:0;
	width:100%;
	height:100%;
	border: 0;
}
.cont_field .cont_field-ctrlpanel{
	position:absolute; top:0; left:0;
	width:100%;
	height:100%;
}

.cont_modulelist{
	max-height: 380px;
	overflow: auto;
}
.cont_modulelist ul{
	margin:0; padding:0;
}
.cont_modulelist ul li{
	margin:0; padding:0;
	list-style-type: none;
}
.cont_modulelist button{
	text-overflow: ellipsis;
	width: 96%;
	display: block;
	margin: 1px 2px;
	font-size: small;
}

.cont_btns{}
.cont_btns ul,
.cont_btns ul li{
	margin:0; padding:0 5px;
	list-style-type: none;
	text-align:center;
}
.cont_btns ul li{
	display:inline-block;
}
