$darkmode-text-color: #ccc;
$darkmode-background-color: #242424;

body.px2-darkmode{
	color: $darkmode-text-color;
	background-color: $darkmode-background-color;

	a{
		color: #ddd;
	}
	a:hover{
		color: #fff;
	}

	pre {
		color: #ccc;
	}

	/**
	 * テーマ
	 */
	.theme-h1-container {
		box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.1);
		background-color: #202020;
	}

	.theme-main-container {
		border-color: #111;
	}


	/**
	 * ダイアログボックス
	 */
	.dialog_box{
		color: $darkmode-text-color;
		background-color: $darkmode-background-color;
		border:1px solid #222;
		box-shadow: 5px 10px 10px rgba(255, 255, 255, 0.2);
	}

	/**
	 * コード
	 */
	.contents pre{
		background: #050505;
		border-color: #0f0f0f;
	}

	/**
	 * リストビュー
	 */
	ul.listview{
		border-color: #333;
		box-shadow: 1px 2px 5px rgba(255, 255, 255, 0.1);

		li{
			border-color: #333;
			background-color: #0e0e0e;
			>a{
				background-color: #0e0e0e;
				&:hover{
					background-color: #222;
				}
				&.current{
					background-color: #00a0e6;
					color: #fff;
				}
			}

			ul{
				border-color: #222;
				li{
					border-color: #222;
				}
			}
		}
	}



	/**
	 * スクロールバー
	 */
	::-webkit-scrollbar{
		/* 1 */
		background-color: #0c0c0c;
	}
	::-webkit-scrollbar-button{
		/* 2 */
	}
	::-webkit-scrollbar-track{
		/* 3 */
	}
	::-webkit-scrollbar-track-piece{
		/* 4 */
	}
	::-webkit-scrollbar-thumb{
		/* 5 */
		background-color: #333;
		border-color: #000;
	}
	::-webkit-scrollbar-corner{
		/* 6 */
	}
	::-webkit-resizer{
		/* 7 */
	}

	/**
	 * Bootstrap 拡張
	 */
	.list-group-item {
		background-color: #222;
		border-color: #666;
	}
	.dropdown-menu{
		background-color: #333;
		a:hover {
			background-color: #444;
		}
	}

	/**
	 * Bootstrap nav
	 */
	.nav-tabs>li>a {
		color: $darkmode-text-color;
		background-color: transparent;
		&:focus,
		&:hover {
			color: $darkmode-text-color;
			background-color: transparent;
		}
	}
	.nav-tabs>li.active>a {
		color: $darkmode-text-color;
		background-color: transparent;
		border-bottom-color: $darkmode-background-color;
		&:focus,
		&:hover {
			color: $darkmode-text-color;
			background-color: transparent;
			border-bottom-color: $darkmode-background-color;
		}
	}

	// Bootstrap 4
    .nav-tabs .nav-link{
		color: $darkmode-text-color;
		background-color: transparent;
		&:focus,
		&:hover {
			color: $darkmode-text-color;
			background-color: transparent;
		}
	}
    .nav-tabs .nav-item.show .nav-link,
    .nav-tabs .nav-link.active{
		color: $darkmode-text-color;
		background-color: transparent;
		border-bottom-color: $darkmode-background-color;
		&:focus,
		&:hover {
			color: $darkmode-text-color;
			background-color: transparent;
			border-bottom-color: $darkmode-background-color;
		}
	}
}
