@charset "utf-8";

body{
	overflow: hidden;
}

/*
エディタフレーム
*/
.cont_editorframe{
	width:100%;
	display:table-row;
}
.cont_editorframe-preview{
	width:100%;
	display:table-cell;
	overflow:auto;
	position: relative;
	top:0; left:0;
}
.cont_editorframe-ctrlpanel{
	width:260px;
	max-width:260px;
	min-width:260px;
	display:table-cell;
	overflow:auto;
	vertical-align: top;
}

/*
GUI編集フィールド
*/
.cont_field{
	position: relative;
	top:0; left:0;
	overflow:auto;
}
.cont_field .cont_field-preview{
	position:relative; top:0; left:0;
	width:100%;
	height:100%;
	border: 0;
}
.cont_field .cont_field-ctrlpanel{
	position:absolute; top:0; left:0;
	width:100%;
	height:100%;
}

.cont_field .cont_field-pageinfo{
	position: fixed; left: 10px; top: 10px;
	border: 1px solid #999;
	border-radius: 4px;
	background: #f8f8f8;
	padding: 2px 10px;
	font-size: 11px;
	opacity: 0.5;
}
.cont_field .cont_field-pageinfo:hover{
	opacity: 1;
}

.cont_field .cont_field-instance_path{
	position:fixed; left:0; bottom:0;
	min-width:1em;
	min-height:1em;
	opacity: 0.7;
	border: 1px solid #000;
	background: #fff;
}
.cont_field .cont_field-instance_path ul{
	margin: 0; padding: 3px 10px;
	font-size: 11px;
}
.cont_field .cont_field-instance_path >ul>li{
	margin: 0; padding: 0; list-style-type: none;
	display: inline;
	position: relative;
}
.cont_field .cont_field-instance_path >ul>li:before{
	content: ' > ';
}
.cont_field .cont_field-instance_path:hover{
	opacity: 1;
}
.cont_field ul.cont_field-instance_path_children{
	display: none;
	background: #fff;
	border: 1px solid #000;
	padding: 0;
}
.cont_field ul.cont_field-instance_path_children li{
	display: block;
	list-style-type: none;
	margin: 0;
}
.cont_field ul.cont_field-instance_path_children li a{
	display:block;
	font-size:120%;
	white-space: nowrap;
	padding: 3px 10px;
}
.cont_field ul.cont_field-instance_path_children li a:hover{
	background-color: #f2f2f2;
}
.cont_field .cont_field-instance_path ul li:last-child:hover ul.cont_field-instance_path_children{
	display: inline-block;
	position: absolute;
	left: 100%;
	bottom: 0;
}
.cont_field .cont_field-menubar{
	position:fixed;
	right: 10px; bottom: 10px;
	padding: 0.3em 1em;
	border: 1px solid #000;
	background: #fff;
	font-size: 10px;
}

/*
コントロールパネル個々のスタイル
InstanceTreeViewと共用。
モジュール、module/loop の区別が付くようにしたい。
選択・マウスオーバー・ドラッグオーバー等のスタイルを統一したい。
*/
.cont_instanceCtrlPanel{
	border-width:3px !important;
	border-style:solid;
	border-color:transparent;
	text-align: center;
	background-color: transparent;
	z-index: 0;
}
.cont_instanceCtrlPanel-hovered{
	border-style: dotted !important;
	border-color: #6cf;
	background-color: rgba(231,244,255, 0.5);
}
.cont_instanceCtrlPanel-hovered.cont_instanceCtrlPanel-is_submodule{
	border-color: #3c3;
	background-color: rgba(232,255,231, 0.5);
}
.cont_instanceCtrlPanel-ctrlpanel_focused{
	border: 1px dotted #ffcc33;
	background-color: rgba(255,255,204, 0.4);
	opacity: 1 !important;
}
.cont_instanceCtrlPanel-ctrlpanel_selected{
	border-color: #f33 !important;
	border-style: solid;
	background-color: rgba(255,238,238, 0.2);
	opacity: 1 !important;
}
.cont_instanceCtrlPanel-dragentered{
	border-style: dashed !important;
	border-color: #6cf;
	background-color: rgba(231,244,255, 0.5);
}
.cont_instanceCtrlPanel-dragentered.cont_instanceCtrlPanel-is_submodule{
	border-color: #3c3;
	background-color: rgba(232,255,231, 0.5);
}

.cont_instanceCtrlPanel.cont_instanceCtrlPanel-adding_area_module,
.cont_instanceCtrlPanel.cont_instanceCtrlPanel-adding_area_loop{
	overflow: visible;
	color: #000;
	clear: both;
	font-family: Meiryo, "Hiragino Kaku Gothic ProN", Verdana, sans-serif;
	font-size: 9px;
	white-space: nowrap;
	text-align: center;
	border-radius: 5px;
	padding: 15px;
	border-color: #e7f4ff;
	background-color: #e7f4ff;
}
.cont_instanceCtrlPanel.cont_instanceCtrlPanel-adding_area_module.cont_instanceCtrlPanel-hovered,
.cont_instanceCtrlPanel.cont_instanceCtrlPanel-adding_area_module.cont_instanceCtrlPanel-dragentered{
	border-color: #6cf;
	background-color: #e7f4ff;
}

.cont_instanceCtrlPanel.cont_instanceCtrlPanel-adding_area_loop{
	padding: 5px 15px;
	border-color: #e8ffe7;
	background-color: #e8ffe7;
}
.cont_instanceCtrlPanel.cont_instanceCtrlPanel-adding_area_loop.cont_instanceCtrlPanel-hovered,
.cont_instanceCtrlPanel.cont_instanceCtrlPanel-adding_area_loop.cont_instanceCtrlPanel-dragentered{
	border-color: #3c3;
	background-color: #e8ffe7;
}

.cont_instanceCtrlPanel .cont_instanceCtrlPanel-module_name{
	display:none;
}
.cont_instanceCtrlPanel-hovered .cont_instanceCtrlPanel-module_name,
.cont_instanceCtrlPanel-ctrlpanel_selected .cont_instanceCtrlPanel-module_name,
.cont_instanceCtrlPanel-dragentered .cont_instanceCtrlPanel-module_name{
	display:block;
	position: absolute;
	left: -5px; top: -5px;
	border: 1px solid #000;
	background: #fff;
	color: #000;
	padding: 2px 10px;
	font-size: 8px;
	font-weight: normal;
}
.cont_instanceCtrlPanel-drop_to_insert_here{
	display:none;
	border:none;
	background-color:#f93;
	position: absolute;
	left:5%; top:-8px;
	width:90%;
	margin:0 auto;
	height:1px;
}
.cont_instanceCtrlPanel-dragentered>.cont_instanceCtrlPanel-drop_to_insert_here{
	display:block !important;
}
.cont_instanceCtrlPanel-drop_to_insert_here:before,
.cont_instanceCtrlPanel-drop_to_insert_here:after{
	content:' ';
	width:0;
	height:0;
	display: inline-block;
	border-width:7px 0 7px 13px;
	border-style:solid;
	border-color:#f93;
	border-top-color:transparent;
	border-bottom-color:transparent;
	position:absolute;
	left:-5%; top:-7px;
}
.cont_instanceCtrlPanel-drop_to_insert_here:after{
	border-left-width:0;
	border-right-width:13px;
	right:-5%;
	left:auto;
}

/*
Instance Tree View
*/
.cont_instance_tree_view{
	background-color: #f9f9f9;
	overflow: auto;
	z-index: 800;
}
.cont_instance_tree_view ul,
.cont_instance_tree_view ol{
	margin-left: 0;
	padding-left: 10px;
}
.cont_instance_tree_view li{
	list-style-position: inside;
	margin-left: 0;
	text-align: left;
}
.cont_instance_tree_view ol>li{
	list-style-type: decimal;
}
.cont_instance_tree_view-modroot{
	border: 3px solid #999;
	background-color: #fbfbfb;
	border-radius: 5px;
	padding: 10px 2px 2px 10px;
}

.cont_instance_tree_view-modroot.cont_instanceCtrlPanel{
}
.cont_instance_tree_view-modroot.cont_instanceCtrlPanel-hovered{
	border-style: dotted !important;
	border-color: #6cf;
	background-color: rgba(231,244,255, 0.8);
}
.cont_instance_tree_view-modroot.cont_instanceCtrlPanel-hovered.cont_instanceCtrlPanel-is_submodule{
	border-color: #3c3;
	background-color: rgba(232,255,231, 0.8);
}
.cont_instance_tree_view-modroot.cont_instanceCtrlPanel-ctrlpanel_selected{
	border-color: #f33 !important;
	border-style: solid;
	background-color: rgba(255,238,238, 0.8);
	opacity: 1 !important;
}
.cont_instance_tree_view-modroot.cont_instanceCtrlPanel-dragentered{
	border-style: dashed !important;
	border-color: #6cf;
	background-color: rgba(231,244,255, 0.8);
}
.cont_instance_tree_view-modroot.cont_instanceCtrlPanel-dragentered.cont_instanceCtrlPanel-is_submodule{
	border-color: #3c3;
	background-color: rgba(232,255,231, 0.8);
}

.cont_instance_tree_view-modroot.cont_instanceCtrlPanel.cont_instanceCtrlPanel-adding_area_module,
.cont_instance_tree_view-modroot.cont_instanceCtrlPanel.cont_instanceCtrlPanel-adding_area_loop{
	overflow: visible;
	color: #000;
	clear: both;
	font-size: 9px;
	white-space: nowrap;
	text-align: center;
	border-radius: 5px;
	padding: 15px;
	border-color: #999;
	background-color: #e7f4ff;
}
.cont_instance_tree_view-modroot.cont_instanceCtrlPanel.cont_instanceCtrlPanel-adding_area_module.cont_instanceCtrlPanel-hovered,
.cont_instance_tree_view-modroot.cont_instanceCtrlPanel.cont_instanceCtrlPanel-adding_area_module.cont_instanceCtrlPanel-dragentered{
	border-color: #6cf;
	background-color: #e7f4ff;
}

.cont_instance_tree_view-modroot.cont_instanceCtrlPanel.cont_instanceCtrlPanel-adding_area_loop{
	padding: 5px 15px;
	border-color: #999;
	background-color: #e8ffe7;
}
.cont_instance_tree_view-modroot.cont_instanceCtrlPanel.cont_instanceCtrlPanel-adding_area_loop.cont_instanceCtrlPanel-hovered,
.cont_instance_tree_view-modroot.cont_instanceCtrlPanel.cont_instanceCtrlPanel-adding_area_loop.cont_instanceCtrlPanel-dragentered{
	border-color: #3c3;
	background-color: #e8ffe7;
}

.cont_instance_tree_view-modroot > h2{
	font-size: medium;
	text-align: left;
	margin: 0 0 5px 0;
}
.cont_instance_tree_view-fields{
	background-color: rgba(240,240,240,0.6);
	border: 1px solid #ccc;
	border-radius: 3px;
	margin: 0; padding: 10px 2px 2px 10px;
}
.cont_instance_tree_view-field_preview{
	background-color: rgba(255,255,255,0.5);
	border: none;
	border-radius: 0px;
	margin: 2px 20px; padding: 10px 2px 2px 10px;
	overflow: auto;
	max-height: 290px;
}
.cont_instance_tree_view-field_preview,
.cont_instance_tree_view-field_preview *{
	font-weight: normal;
	font-size: 11px;
	line-height: 1.1;
	margin-top: 0;
	margin-bottom: 0;
}
.cont_instance_tree_view-field_preview table{
	border: 1px solid #aaa;
}
.cont_instance_tree_view-field_preview table th,
.cont_instance_tree_view-field_preview table td{
	border: 1px solid #aaa;
	background-color: #fff;
	padding: 3px;
}
.cont_instance_tree_view-field_preview table thead th,
.cont_instance_tree_view-field_preview table thead td,
.cont_instance_tree_view-field_preview table th{
	background-color: #f3f3f3;
}

/*
モジュール一覧
*/
.cont_modulelist{
	overflow: auto;
}
.cont_modulelist ul{
	margin:0; padding:0;
}
.cont_modulelist ul li{
	margin:0; padding:0;
	list-style-type: none;
}
.cont_modulelist button{
	text-overflow: ellipsis;
	width: 96%;
	display: block;
	margin: 1px 2px;
	font-size: small;
}
.cont_modulelist a{
	display: block;
	padding: 0.2em 1em;
	background: #333;
	color: #eee;
	text-decoration: none;
	font-weight: bold;
	margin-top: 0.5em;
}
.cont_modulelist ul ul a{
	margin: 1px 0 0 0;
	font-weight: normal;
	padding: 0.2em 2em;
	background: #666;
}
.cont_modulelist ul a:before{
	content: "▼";
}
.cont_modulelist ul a.closed:before{
	content: "―";
}

/*
ボタンリスト
*/
.cont_btns{}
.cont_btns ul,
.cont_btns ul li{
	margin:0; padding:0 5px;
	list-style-type: none;
	text-align:center;
}
.cont_btns ul li{
	display:inline-block;
}
