@charset "utf-8";

body{
	overflow: hidden;
}

.cont_editorframe{
	width:100%;
	display:table-row;
}
.cont_editorframe-preview{
	width:100%;
	display:table-cell;
	overflow:auto;
	position: relative;
	top:0; left:0;
}
.cont_editorframe-ctrlpanel{
	width:260px;
	max-width:260px;
	min-width:260px;
	display:table-cell;
	overflow:auto;
	vertical-align: top;
}

.cont_field{
	position: relative;
	top:0; left:0;
	overflow:auto;
}
.cont_field .cont_field-preview{
	position:relative; top:0; left:0;
	width:100%;
	height:100%;
	border: 0;
}
.cont_field .cont_field-ctrlpanel{
	position:absolute; top:0; left:0;
	width:100%;
	height:100%;
}

.cont_field .cont_field-instance_path{
	position:fixed; left:0; bottom:0;
	min-width:1em;
	min-height:1em;
	opacity: 0.7;
	border: 1px solid #000;
	background: #fff;
}
.cont_field .cont_field-instance_path ul{
	margin: 0; padding: 3px 10px;
	font-size: 11px;
}
.cont_field .cont_field-instance_path >ul>li{
	margin: 0; padding: 0; list-style-type: none;
	display: inline;
	position: relative;
}
.cont_field .cont_field-instance_path >ul>li:before{
	content: ' > ';
}
.cont_field .cont_field-instance_path:hover{
	opacity: 1;
}
.cont_field .cont_field-instance_path_children{
	display: none;
	background: #fff;
	border: 1px solid #000;
}
.cont_field .cont_field-instance_path_children li{
	display: block;
	list-style-type: none;
}
.cont_field .cont_field-instance_path ul li:last-child:hover .cont_field-instance_path_children{
	display: inline-block;
	position: absolute;
	left: 100%;
	bottom: 0;
}
.cont_field .cont_field-menubar{
	position:fixed;
	right: 10px; bottom: 10px;
	padding: 0.3em 1em;
	border: 1px solid #000;
	background: #fff;
	font-size: 10px;
}

.cont_instanceCtrlPanel{
	border:0;
	text-align: center;
	background-color: transparent;
	display: block;
	position: absolute;
	z-index: 0;
}
.cont_instanceCtrlPanel:hover{
	border: 3px dotted #000;
}
.cont_instanceCtrlPanel-ctrlpanel_selected{
	border: 3px solid rgba(255,0,0,0.6);
	background-color: rgba(255,0,0,0.1);
}
.cont_instanceCtrlPanel-ctrlpanel_dragentered{
	border-radius: 0;
	border: 3px dotted #99f;
}
.cont_instanceCtrlPanel .cont_instanceCtrlPanel-module_name{
	display:none;
}
.cont_instanceCtrlPanel:hover .cont_instanceCtrlPanel-module_name,
.cont_instanceCtrlPanel-ctrlpanel_selected .cont_instanceCtrlPanel-module_name{
	display:block;
	position: absolute;
	left: -5px; top: -5px;
	border: 1px solid #000;
	background: #fff;
	color: #000;
	padding: 2px 10px;
	font-size: 8px;
	font-weight: normal;
}

.cont_instance_tree_view{
	background: #f9f9f9;
	overflow: auto;
	z-index: 10000;
}
.cont_instance_tree_view li{
	list-style-position: inside;
	margin-left: 0;
}
.cont_instance_tree_view ol>li{
	list-style-type: decimal;
}
.cont_instance_tree_view-modroot{
	border: 1px solid #000;
	border-radius: 5px;
	padding: 10px 2px 2px 10px;
	background-color: #f3f3f3;
}
.cont_instance_tree_view-modroot > h2{
	font-size: medium;
	margin: 0 0 5px 0;
}
.cont_instance_tree_view-fields{
	background: #ddd;
	border: 1px solid #aaa;
	border-radius: 3px;
	margin: 0; padding: 10px 2px 2px 10px;
}

.cont_modulelist{
	overflow: auto;
}
.cont_modulelist ul{
	margin:0; padding:0;
}
.cont_modulelist ul li{
	margin:0; padding:0;
	list-style-type: none;
}
.cont_modulelist button{
	text-overflow: ellipsis;
	width: 96%;
	display: block;
	margin: 1px 2px;
	font-size: small;
}
.cont_modulelist a{
	display: block;
	padding: 0.2em 1em;
	background: #333;
	color: #eee;
	text-decoration: none;
	font-weight: bold;
	margin-top: 0.5em;
}
.cont_modulelist ul ul a{
	margin: 1px 0 0 0;
	font-weight: normal;
	padding: 0.2em 2em;
	background: #666;
}

.cont_btns{}
.cont_btns ul,
.cont_btns ul li{
	margin:0; padding:0 5px;
	list-style-type: none;
	text-align:center;
}
.cont_btns ul li{
	display:inline-block;
}
