@charset "utf-8";
html, body{
	height: 100%;
	width: 100%;
	overflow: auto;
}
body{
	display: flex;
	flex-direction: column;
}
.container {
	display: flex;
	align-items: stretch;
	flex-direction: column;
}
.container:last-child {
	flex-grow: 1;
	overflow: auto;
}
.contents {
	flex-grow: 1;
	flex-wrap: nowrap;
	align-items: stretch;
	overflow: auto;

	display: flex;
	width: 100%;
	#cont-pickles2-code-search{
		flex-grow: 1;
		align-self: stretch;
	}
}
